PORT=3000
JWT_SECRET=
JWT_EXPIRES_IN=7d
BACKEND_URL=http://localhost:3000
FRONTEND_URL=http://localhost:5173
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_TOKEN=
DATABASE_URL=postgresql://postgres:[password]@db.[project].supabase.co:5432/postgres?sslmode=no-verify
DATABASE_URL_POOL=postgresql://postgres.[project]:[password]@aws-1-us-east-2.pooler.supabase.com:5432/postgres?sslmode=no-verify
